<div class="services-wrap" id="services">
  <div class="container">
    <div class="left">
      <h2>Services</h2>
      <div class="card">
        <div class="card-title">
          Work Flows
          <div class="card-title-info">
            <div class="eclipse"></div>
            Develpmnet and Design
          </div>
        </div>
        <p class="info">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia,
          dicta natus distinctio ducimus minus veniam aspernatur eveniet qui
          nemo pariatur!
        </p>
        <div class="next">Next</div>
      </div>
    </div>
    <div class="right">
      <div class="image-container one">
        <img
          src="../../../../assets/Kopie von 230201-ReneHeinzl-Manevera-Shooting-030.jpg"
          alt=""
        />
      </div>
      <div class="image-container two">
        <img
          src="../../../../assets/Kopie von 230201-ReneHeinzl-Manevera-Shooting-024.jpg"
          alt=""
        />
      </div>
      <div class="image-container three">
        <img
          src="../../../../assets/Kopie von 230201-ReneHeinzl-Manevera-Shooting-052.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
