.track-record-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  min-height: 56.25vw;
  width: 100%;
  margin: 0;

  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    position: relative;
    h2 {
      font-family: "Walter";
      font-size: 3vw;
      position: absolute;
      top: -6vw;
      left: 0;
      transform: translateX(5%);
    }
  }
}
