<div class="blog-wrap" id="blog">
  <div class="container">
    <div class="left">
      <h2>Read the blog</h2>
      <div class="blog-image">
        <img src="../../../../assets/blog1.jpg" alt="" />
        <div class="text-learning">
          Learning with <br />
          queried hints
        </div>
      </div>
      <div class="text">
        In many computing applications the system needs to make decisions to
        serve requests that arrive in an online fashion. Consider, for instance,
        the example of a navigation app that responds to driver requests ...
        <span>Continue Reading</span>
      </div>
    </div>
    <div class="right">
      <div class="article" *ngFor="let article of articles">
        {{ article }}
      </div>
      <div class="explore">Explore all Articles</div>
    </div>
  </div>
</div>
