<div
  class="nav-wrap fixed z-20 top-0 flex justify-between items-center w-screen h-16 md:h-24 bg-[#00040A]"
>
  <h2
    class="ml-10 md:ml-14 font-walter-light font-bold text-white text-base md:text-3xl"
  >
    Rene <span class="text-accent/100">Heinzl</span>
  </h2>
  <div
    class="link-container fixed md:static inset-0 flex flex-col md:flex-row justify-evenly items-center w-screen h-screen md:w-1/2 md:h-full md:mx-14 bg-[#00040A] font-SpaceGrotesk text-white text-3xl md:text-2xl md:translate-x-0 overflow-hidden transition-transform duration-300 ease-in"
    [ngClass]="show ? 'translate-x-0' : 'translate-x-full'"
  >
    <a
      *ngFor="let link of links"
      (click)="navigateToSection(link)"
      class="cursor-pointer hover:text-primary/75"
      >{{ link[0].toUpperCase() + link.slice(1, link.length) }}</a
    >

    <button
      (click)="navigateToSection('contact')"
      class="w-48 h-14 border-transparent bg-primary/50 shadow-[0px_0px_1rem_rgba(255,246,209,0.25)] rounded-3xl text-primary/300 font-semibold hover:bg-primary/75"
    >
      Contact
    </button>
  </div>
  <div
    class="absolute top-3 right-3 w-8 h-8 cursor-pointer md:hidden"
    (click)="show = !show"
  >
    <div
      *ngIf="!show"
      class="flex flex-col justify-center items-center w-full h-full"
    >
      <span class="w-5 h-0.5 bg-white rounded-full"></span>
      <span class="w-5 h-0.5 mt-1 bg-white rounded-full"></span>
      <span class="w-5 h-0.5 mt-1 bg-white rounded-full"></span>
    </div>

    <div *ngIf="show" class="relative w-full h-full">
      <span
        class="absolute top-1/2 left-1/2 w-6 h-0.5 bg-white -translate-x-1/2 -rotate-45"
      ></span>
      <span
        class="absolute top-1/2 left-1/2 w-6 h-0.5 bg-white -translate-x-1/2 rotate-45"
      ></span>
    </div>
  </div>
</div>
