.app {
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  // margin: 0px -2vw;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
  background: #181818;
  user-select: none;
  display: flex;
}
