<div
  class="core flex flex-col items-center min-h-screen min-w-full font-SpaceGrotesk text-white bg-primary/500 overflow-hidden"
>
  <div
    class="noise z-10 fixed inset-0 flex justify-around bg-noise pointer-events-none"
  >
    <div
      *ngFor="let line of [0, 1, 2, 3, 4, 5]"
      class="line h-full border-r border-r-[rgba(255,255,255,0.05)]"
    ></div>
  </div>
  <div
    class="video-and-other absolute inset-0 z-0 w-screen h-screen md:h-[62vw] overflow-hidden"
  >
    <div class="video-wrapper flex flex-col">
      <video
        id="background-video"
        playsinline
        [autoplay]="true"
        [loop]="true"
        [muted]="true"
        disableRemotePlayback
        class="w-full h-screen md:h-[63vw] object-cover"
      >
        <source src="../../../../assets/landing-bg.mp4" type="video/mp4" />
      </video>
      <video
        id="background-sphere"
        playsinline
        [autoplay]="true"
        [loop]="true"
        [muted]="true"
        disableRemotePlayback
        class="absolute z-20 inset-0 top-10 md:top-0 w-full h-1/2 md:h-[63vw] object-cover opacity-90"
      >
        <source src="../../../../assets/sphere.mp4" type="video/mp4" />
      </video>

      <div
        class="absolute left-0 -bottom-10 h-1/2 w-full bg-black md:hidden opacity-90"
      ></div>
    </div>
    <div
      class="other-background absolute z-20 left-1/2 bottom-[-30vw] w-[155vw] h-[34vw] bg-primary/500 rounded-[50%] -translate-x-1/2 shadow-[0.3vw_6vw_8vw_4.3vw_#999]"
    ></div>
  </div>
  <home></home>
  <about></about>
  <services></services>
  <track-record></track-record>
  <blog></blog>
  <contact></contact>
</div>
