<div
  class="core font-SpaceGrotesk text-white min-h-screen min-w-full bg-primary/500 flex flex-col items-center overflow-hidden"
>
  <div
    class="noise fixed inset-0 bg-noise z-10 flex justify-around pointer-events-none"
  >
    <div
      *ngFor="let line of [0, 1, 2, 3, 4, 5]"
      class="line border-r-[0.001vw] border-r-[rgba(255,255,255,0.05)] h-full"
    ></div>
  </div>
  <div
    class="video-and-other absolute inset-0 z-0 w-screen h-[62vw] overflow-hidden"
  >
    <div class="video-wrapper">
      <video
        id="background-video"
        playsinline
        [autoplay]="true"
        [loop]="true"
        [muted]="true"
        disableRemotePlayback
        class="w-full h-[63vw] object-cover"
      >
        <source src="../../../../assets/landing-bg.mp4" type="video/mp4" />
      </video>
      <video
        id="background-sphere"
        playsinline
        [autoplay]="true"
        [loop]="true"
        [muted]="true"
        disableRemotePlayback
        class="absolute inset-0 w-full h-[63vw] object-cover opacity-90"
      >
        <source src="../../../../assets/sphere.mp4" type="video/mp4" />
      </video>
    </div>
    <div
      class="other-background bg-primary/500 w-[155vw] h-[34vw] absolute bottom-[-30vw] left-1/2 -translate-x-1/2 z-[2] rounded-[50%] shadow-[0.3vw_6vw_8vw_4.3vw_#999]"
    ></div>
  </div>
  <home></home>
  <about></about>
  <services></services>
  <track-record></track-record>
  <blog></blog>
  <contact></contact>
</div>
