<div
  class="blog-wrap flex flex-col items-center justify-center w-screen h-screen min-h-screen lg:w-full xl:min-h-[56.25vw] m-0 text-sm md:text-xl text-left"
  id="blog"
>
  <div
    class="container flex justify-around items-center lg:items-start flex-col lg:flex-row h-full"
  >
    <div
      class="blog-image-container relative flex flex-col justify-end items-center w-11/12 lg:w-1/2 2xl:mr-40"
    >
      <h2
        class="absolute top-0 left-0 md:top-12 lg:-top-40 xl:-top-28 lg:w-[105%] font-walter text-xl md:text-3xl lg:text-5xl"
      >
        Read the blog
      </h2>
      <div
        class="blog-image relative w-full h-1/2 lg:w-full lg:h-[25vw] border border-primary/75 rounded-xl md:rounded-2xl shadow-[0_0_6.5vw_rgb(0,0,0)] overflow-hidden"
      >
        <img
          class="max-w-full h-auto"
          src="../../../../assets/blog1.jpg"
          alt=""
        />
        <div
          class="text-learning absolute left-4 bottom-2.5 md:left-8 md:bottom-5 font-semibold text-sm md:text-2xl text-primary/500"
        >
          Learning with <br />
          queried hints
        </div>
      </div>
      <div class="text z-10 mt-3">
        In many computing applications the system needs to make decisions to
        serve requests that arrive in an online fashion. Consider, for instance,
        the example of a navigation app that responds to driver requests...
        <span class="text-highlight cursor-pointer">Continue Reading</span>
      </div>
    </div>
    <div
      class="articles-container flex lg:flex-none flex-col justify-center items-center w-11/12 lg:w-2/5"
    >
      <div
        class="article w-full m-1 md:m-3.5 lg:mt-0 p-6 lg:p-5 xl:p-6 xl:px-8 rounded-2xl bg-[rgba(41,63,88,0.7)] text-primary/50 text-left transition-all duration-300 ease-out hover:bg-primary/75 hover:text-primary/500 cursor-pointer"
        *ngFor="let article of articles"
      >
        {{ article }}
      </div>
      <div class="explore w-full text-primary/75 text-end">
        <span class="hover:text-primary/50 cursor-pointer"
          >Explore all Articles</span
        >
      </div>
    </div>
  </div>
</div>
