<div
  class="services-wrap flex flex-col justify-center items-center w-screen h-screen min-h-screen md:min-h-[62.25vw] m-0"
  id="services"
>
  <!-- <div
    class="container hidden md:flex flex-col-reverse md:flex-row justify-between items-center md:items-start w-screen h-full"
  >
    <div
      class="info-container z-10 flex flex-col justify-start items-center h-1/2"
    >
      <h2
        class="w-10/12 md:w-full mb-4 md:mb-12 font-walter text-xl md:text-3xl lg:text-5xl text-left"
      >
        Services
      </h2>
      <div
        class="card flex flex-col justify-start w-11/12 xl:w-[32vw] h-max px-6 md:px-10 xl:px-14 py-4 md:py-7 xl:py-10 border border-primary/50 rounded-3xl bg-[rgba(21,40,63,0.8)] shadow-[0px_0px_128px_rgba(0,120,255,0.25)] backdrop-blur"
      >
        <div class="card-title text-lg md:text-2xl lg:text-4xl 2xl:text-5xl">
          {{ currentService.title }}
          <div
            class="card-title-info flex items-center my-3 text-base md:text-lg lg:text-xl xl:text-2xl uppercase"
          >
            <div
              class="eclipse w-3.5 h-3.5 mr-4 rounded-full bg-accent/100"
            ></div>
            {{ currentService.subtitle }}
          </div>
        </div>
        <p
          class="info h-max text-sm xl:text-lg 2xl:text-xl leading-loose"
          *ngIf="nextInfo"
        >
          {{ currentService.info[0] }}
        </p>
        <p
          class="info h-max text-sm xl:text-lg 2xl:text-xl leading-loose"
          *ngIf="!nextInfo"
        >
          {{ currentService.info[1] }}
        </p>
        <div
          class="next absolute right-4 bottom-4 xl:right-8 xl:bottom-8 text-sm md:text-base lg:text-xl xl:text-xl 2xl:text-2xl uppercase cursor-pointer"
          *ngIf="nextInfo"
          (click)="nextInfo = false"
        >
          Next
        </div>
        <div
          class="next absolute bottom-4 right-4 md:bottom-8 md:right-8 text-sm md:text-2xl uppercase cursor-pointer"
          *ngIf="!nextInfo"
          (click)="nextInfo = true"
        >
          Back
        </div>
      </div>
    </div>
    <div
      class="right relative w-screen h-1/2 md:w-full md:h-full translate-x-0"
    >
      <div
        class="image-container one absolute z-[0] top-[10%] left-[5%] md:top-[-7%] md:left-[-9%] w-48 h-44 md:w-[26vw] md:h-[23vw] border-2 border-primary/75 rounded-3xl shadow-[0px_0px_6.5vw_rgba(0,120,255,0.25)] hover:shadow-[0px_0px_6.5vw_rgba(0,120,255,0.75)] overflow-hidden cursor-pointer"
        (click)="setCurrent(1)"
        [ngClass]="
          services[0].show
            ? 'showOne z-[2] scale-[1.7] translate-y-[50%] translate-x-[38%]  animate-myMoveInOne shadow-[none] hover:shadow-[none] '
            : 'animate-myMoveOutOne hover:brightness-[0.8]'
        "
      >
        <img
          class="absolute left-[-4.5vw] max-w-max h-full object-cover"
          src="../../../../assets/Kopie von 230201-ReneHeinzl-Manevera-Shooting-030.jpg"
          alt=""
        />
      </div>
      <div
        class="image-container two absolute z-[1] top-1/4 left-[40%] md:top-[17%] md:left-[22%] w-44 h-52 md:w-[23vw] md:h-[28vw] border-2 border-primary/75 rounded-3xl shadow-[0px_0px_6.5vw_rgba(0,120,255,0.25)] hover:shadow-[0px_0px_6.5vw_rgba(0,120,255,0.75)] cursor-pointer overflow-hidden"
        (click)="setCurrent(2)"
        [ngClass]="
          services[1].show
            ? 'showTwo z-[2] translate-y-[-13%] translate-x-[-36%] scale-[1.7]  animate-myMoveInTwo shadow-[none] hover:shadow-[none] '
            : 'animate-myMoveOutTwo hover:brightness-[0.8]'
        "
      >
        <img
          class="absolute -left-12 md:left-[-9vw] max-w-max h-full"
          src="../../../../assets/Kopie von 230201-ReneHeinzl-Manevera-Shooting-024.jpg"
          alt=""
        />
      </div>
      <div
        class="image-container three absolute z[1] top-[10%] left-[55%] md:top-[-17%] md:left-[56] md:right-0 w-32 h-28 md:w-[20vw] md:h-[18vw] border-2 border-primary/75 rounded-3xl shadow-[0px_0px_6.5vw_rgba(0,120,255,0.25)] overflow-hidden hover:shadow-[0px_0px_6.5vw_rgba(0,120,255,0.75)] animate-myMoveInThree cursor-pointer"
        (click)="setCurrent(3)"
        [ngClass]="
          services[2].show
            ? 'showThree z-[2] translate-y-[104%] translate-x-[-104%] scale-[2.4]  shadow-[none] hover:shadow-[none] '
            : 'hover:brightness-[0.8] animate-myMoveOutThree'
        "
      >
        <img
          class="absolute max-w-max h-full left-[-2vw]"
          src="../../../../assets/Kopie von 230201-ReneHeinzl-Manevera-Shooting-052.jpg"
          alt=""
        />
      </div>
    </div>
  </div> -->

  <!-- Mobile Version -->

  <div class="cards md:hidden relative w-11/12 h-3/4">
    <div
      class="card absolute flex flex-col justify-start w-full h-full border border-primary/50 rounded-3xl bg-[rgba(21,40,63,0.8)] shadow-[0px_0px_128px_rgba(0,120,255,0.25)] backdrop-blur overflow-hidden opacity-0 transition-all duration-300"
      *ngFor="let card of services"
      [ngClass]="{
        '-translate-x-0 opacity-100': card.id == currentId,
        '-translate-x-full':
          (currentId == 3 && card.id == 2) ||
          (currentId == 2 && card.id == 1) ||
          (currentId == 1 && card.id == 3),
        'translate-x-full':
          (currentId == 3 && card.id == 1) ||
          (currentId == 2 && card.id == 3) ||
          (currentId == 1 && card.id == 2)
      }"
    >
      <div class="title-and-image relative h-1/2">
        <img
          class="absolute top-0 w-full h-full object-cover brightness-75"
          [src]="card.url"
          alt=""
        />
        <div class="card-title absolute left-3 bottom-0 text-lg text-white">
          {{ card.title }}
          <div
            class="card-title-info flex items-center my-3 text-base uppercase"
          >
            <div
              class="eclipse w-3.5 h-3.5 mr-4 rounded-full bg-accent/100"
            ></div>
            {{ card.subtitle }}
          </div>
        </div>
      </div>

      <p class="info h-max px-6 py-3 text-sm leading-loose">
        {{ card.info[nextInfo ? 1 : 0] }}
      </p>
    </div>
    <button
      class="left absolute left-0 top-1/2 w-12 h-12 bg-white rounded-full text-[rgba(21,40,63,0.8)] -translate-x-1/4 -translate-y-2/3 cursor-pointer"
      (click)="change('left')"
    >
      <i class="fa-solid fa-arrow-left text-xl font-bold"></i>
    </button>
    <button
      class="right absolute right-0 top-1/2 w-12 h-12 bg-white rounded-full text-[rgba(21,40,63,0.8)] translate-x-1/4 -translate-y-2/3 cursor-pointer"
      (click)="change('right')"
    >
      <i class="fa-solid fa-arrow-right text-xl font-bold"></i>
    </button>
  </div>
</div>
