<div
  class="track-record-wrap flex flex-col items-center justify-center w-screen mt-28 mb-24 md:my-56 xl:mt-60 2xl:mt-96 2xl:mb-32"
>
  <div
    class="cards-container relative flex justify-center w-full max-w-[64rem] xl:max-w-[77rem] 2xl:max-w-[96rem]"
  >
    <div
      class="cards flex flex-row flex-wrap lg:flex-nowrap justify-center lg:justify-between items-center w-[110%] h-full"
    >
      <h2
        class="absolute top-[-15%] md:top-[-12%] lg:top-[-15%] left-0 w-full font-walter text-xl md:text-3xl lg:text-4xl xl:text-5xl text-center lg:text-left"
      >
        Professional Track Record
      </h2>
      <track-card *ngFor="let card of data; let id = index">
        <img
          class="card-img absolute z-[-1] w-full min-h-full object-cover transition duration-300 ease-in-out opacity-0"
          [src]="card.url"
          alt=""
        />
        <p class="flex justify-between items-center">
          {{ card.text }}
          <img
            class="items-center h-3 w-3 md:h-7 md:w-7 cursor-pointer"
            *ngIf="id + 1 == data.length"
            src="../../../../assets/Vector 3.png"
            alt=""
          />
        </p>
        <div
          class="learn-more flex items-center justify-between w-full text-left opacity-0 cursor-pointer hover:text-primary/75"
          *ngIf="id + 1 !== data.length"
        >
          Learn More
          <img
            class="w-2 h-2 md:w-4 md:h-4"
            src="../../../../assets/Vector 3.png"
            alt=""
          />
        </div>
      </track-card>
    </div>
  </div>
</div>
