<div
  class="track-record-wrap flex flex-col items-center justify-between md:justify-center w-full min-h-screen md:min-h-[56.25vw] md:mt-28 text-left"
>
  <div
    class="cards-container relative flex justify-center w-screen h-screen md:w-[90vw] max-w-7xl"
  >
    <h2
      class="absolute md:-top-28 top-0 left-0 font-walter text-xl md:text-3xl lg:text-5xl translate-x-[5%]"
    >
      Professional Track Record
    </h2>
    <div
      class="cards absolute top-1/2 md:top-0 flex flex-row flex-wrap lg:flex-nowrap justify-center lg:justify-between w-full -translate-y-1/2 md:translate-y-0"
    >
      <track-card *ngFor="let card of data; let id = index">
        <img
          class="card-img absolute z-[-1] w-full min-h-full object-cover transition duration-300 ease-in-out opacity-0"
          [src]="card.url"
          alt=""
        />
        <p class="flex justify-between items-center">
          {{ card.text }}
          <img
            class="items-center h-3 w-3 md:h-7 md:w-7 cursor-pointer"
            *ngIf="id + 1 == data.length"
            src="../../../../assets/Vector 3.png"
            alt=""
          />
        </p>
        <div
          class="learn-more flex items-center justify-between w-full text-left opacity-0 cursor-pointer hover:text-primary/75"
          *ngIf="id + 1 !== data.length"
        >
          Learn More
          <img
            class="w-2 h-2 md:w-4 md:h-4"
            src="../../../../assets/Vector 3.png"
            alt=""
          />
        </div>
      </track-card>
    </div>
  </div>
</div>
