<div
  class="track-record-wrap flex flex-col items-center justify-between md:justify-center text-left md:min-h-[56.25vw] min-h-screen w-full border border-red-600"
>
  <div class="cards md:w-[90vw] w-screen relative h-screen">
    <h2
      class="font-walter text-xl md:text-6xl absolute md:-top-28 top-10 left-0 translate-x-[5%]"
    >
      Professional Track Record
    </h2>
    <div
      class="cards absolute top-1/2 md:top-0 -translate-y-1/2 md:translate-y-0 flex flex-row flex-wrap justify-center"
    >
      <track-card *ngFor="let card of data; let id = index">
        <img
          class="card-img absolute w-full min-h-full object-cover z-[-1] opacity-0 transition duration-300 ease-in-out"
          [src]="card.url"
          alt=""
        />
        <p class="text-base md:text-4xl flex justify-between items-center">
          {{ card.text }}
          <img
            class="md:h-7 md:w-7 h-3 w-3 items-center cursor-pointer"
            *ngIf="id + 1 == data.length"
            src="../../../../assets/Vector 3.png"
            alt=""
          />
        </p>
        <div
          class="learn-more w-full text-left text-sm md:text-3xl flex items-center justify-between opacity-0 cursor-pointer"
          *ngIf="id + 1 !== data.length"
        >
          Learn More
          <img
            class="md:h-4 md:w-4 h-2 w-2"
            src="../../../../assets/Vector 3.png"
            alt=""
          />
        </div>
      </track-card>
    </div>
  </div>
</div>
