<div class="landing-page">
  <div class="noise">
    <div *ngFor="let line of [0, 1, 2, 3, 4, 5]" class="line"></div>
  </div>
  <div class="video-and-other">
    <div class="video-wrapper">
      <video
        id="background-video"
        playsinline
        [autoplay]="true"
        [loop]="true"
        [muted]="true"
        disableRemotePlayback
      >
        <source src="../../../../assets/landing-bg.mp4" type="video/mp4" />
      </video>
      <video
        id="background-sphere"
        playsinline
        [autoplay]="true"
        [loop]="true"
        [muted]="true"
        disableRemotePlayback
      >
        <source src="../../../../assets/sphere.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="other-background"></div>
  </div>
  <home></home>
  <about></about>
  <services></services>
  <track-record></track-record>
  <blog></blog>
  <contact></contact>
</div>
